.resultbox{
	margin-bottom: 20px;
	background-color: #fff;
	border: 1px solid rgb(223, 223, 223);
	border-radius: 10px;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
	box-shadow: 0 1px 1px rgba(0,0,0,.05);
}


.profilebox{
	height: 52%;
	margin-bottom: 20px;
	background-color: #fff;
	border: 1px solid rgb(223, 223, 223);
	border-radius: 10px;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
	box-shadow: 0 1px 1px rgba(0,0,0,.05);
	float: left;
	padding-left: 0px;
	padding-right:0px;
	margin-right: 10px;
}

.resultbox,.resultbox2>.box-heading {
	color: #3298DB;
	background-color: #ECFDFF;
	border-color: #C0E1F3;
}

.box-heading {
	padding: 10px 15px;
	border-bottom: 1px solid transparent;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.box-body{
	margin-top: 0px;
	margin-bottom: 5px;
	margin-left: 10px;
	margin-right: 10px;
	padding: 5px;
	overflow-y: auto;
	overflow-x: hidden;
}

.post{
	border-bottom: 3px solid #C0E1F3;
	margin: 10px 0px 20px 0px;
}


.avatarpostpic{
	max-height: 50px;
	max-width: 50px;
}
.post-right{
	margin-left: 5px;
	padding: 0px;
	word-wrap: break-word;
}

.tweet{
	min-height: 105px;
}

.tweetreply{
	min-height: none;
}

.comments{

}

.reply{
	border-top: 1px solid #F1C2E0;
	margin-bottom: 20px;
}

.reply2{
	margin-top: 10px;
}









