{% extends "base.html" %} {% load staticfiles %} 

{% block js %}
<script src="{% static "js/home.js" %}"></script>
{% endblock %}

{% block welcomenav %} {% endblock %} 

{% block content %}

<div class="container mybody">
    <div class="col-md-3 row profilebox">
        <!--display the Avatar picture and post field-->
        <div class="padding">
            <div class="avatarbox">
                <!-- <div class="col-xs-4"> -->
                <a href="#" class="avatarposition">
                    <img class="padding" onload="" style="max-height:75px;max-width:75px;" src="{{ my_user.avatar.url }}" center center>
                </a>
                <p1 class="avatarposition" style="color: white"><b>{{ user.peeuser.full_name }}</b>
                </p1>
                <!--  </div> -->
            </div>

        </div>

        <nav class="navbar navbar-default" style="border-radius: 0px;">
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-static-top">
                    <li><a href="/account/profile/history/">Tweets<br>{{ user.peeuser.tweet_set.count }}</a>
                    </li>
                    <li><a href="/account/profile/following">Following<br>{{ user.peeuser.get_following|length }}</a>
                    </li>
                    <li><a href="/account/profile/follower">Follower<br>{{ user.peeuser.get_followers|length }}</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="padding" style="background-color: #ECFDFF;">
            <form name="posttweet" action="#" method="POST">{% csrf_token %}
                <textarea id="content_input" style="width: 100%; height: 100px;" placeholder="Tweet at here..."></textarea>

                <button type="button" id="btnPost" class="btn btn-success">
                    <span class="glyphicon glyphicon-plus"></span>
                    <span id="btnPostText">Post</span>
                </button>
            </form>
        </div>

    </div>




    <div class="col-md-8">
        <!--display new tweets-->
        <div class="resultbox">
            <div id="heading" class="box-heading">
                <h4 style="margin:0px;">New Tweets :</h4>
            </div>




            <div id="tweets_block" class="box-body">
                {% for tweet in tweets %}
                <div class="row no-gutter post" tweet_pk="{{ tweet.pk }}">
                    <!--post#1-->


                    <div class="col-md-12">
                        <div class="col-md-3" style="width:20%;">
                            <a href="#">
                                <img class="avatartweetpic" onload="" src="{{ tweet.author.avatar.url }}">
                            </a>
                        </div>

                        <div class="col-md-9" style="padding-left:0px">
                            <div class="post-right">
                                <div class="tweet">
                                    <span ><b id="tweet_author_name">{{ tweet.author.full_name }}</b>
                                    </span>
                                    at
                                    <span id="tweet_timestamp">{{ tweet.timestamp }}</span>
                                    <br>
                                    <span id="tweet_content">{{ tweet.content }}</span>
                                </div>

                                <div class="comments">
                                    {% for reply in tweet.reply_set.all %}
                                    <div style="border-top: 1px solid #C9C9C9;">
                                        <!--reply #1-->
                                        <div class="col-xs-2" style="width:18%;">
                                            <a href="#">
                                                <img class="avatartweetpic" onload="" style="max-height:40px;max-width:40px;" src="{{ reply.author.avatar.url }}">
                                            </a>
                                        </div>

                                        <div class="post-right">
                                            <div>
                                                <span><b>{{ reply.author.full_name }}</b>
                                                </span>
                                                at <span>{{ reply.timestamp }}</span>
                                                <br>
                                                <span>{{ reply.content }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    {% endfor %}
                                </div>
                            </div>


                        </div>

                        <div class="col-md-12 reply">
                            <div class="reply2">
                                <div class="col-xs-3" style="width:18%;">
                                    <a href="#">
                                        <img class="avatartweetpic" onload="" style="max-height:50px;max-width:50px;" src="{{ my_user.avatar.url }}">
                                    </a>
                                </div>

                                <div class="col-xs-9 post-right">
                                    <input type="text" class="form-control" name="reply" placeholder="Reply...">
                                    <button type="button" class="btn btn-primary btn-xs btnReply" name='button' value='reply' tweet_pk="{{ tweet.pk }}">reply</button>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                {% endfor %}

            </div>

        </div>
    </div>
</div>
{% endblock %}