{% extends "base.html" %} {% load staticfiles %} 

{% block js %}
<script src="{% static "js/home.js" %}"></script>
<script type="text/javascript">
    setInterval(load_more, 3000);
</script>
{% endblock %}

{% block welcomenav %} {% endblock %}

{% block content %}

<div class="container mybody">
    {% include 'profilebox.html' %}

    <div class="col-md-8">
        <!--display new tweets-->
        <div class="resultbox">
            <div id="heading" class="box-heading">
                <h4 style="margin:0px;">{{ title }}</h4>
            </div>
            <div id="tweets_block" class="box-body">
                {% for tweet in tweets %}
                    {% include "single_tweet.html" %}
                {% endfor %}
                <input id="timestamp_now" type='hidden' value='{% now "N j, Y, H:i:s:u" %}'>
            </div>
        </div>
    </div>
</div>
{% endblock %}