{% extends "base.html" %} {% load staticfiles %} 

{% block js %}
<script src="{% static "js/home.js" %}"></script>
{% endblock %}

{% block welcomenav %} {% endblock %}

{% block content %}

<div class="container mybody">
    <div class="col-md-3 row profilebox">
        <!--display the Avatar picture and post field-->
        <div class="padding">
            <div class="avatarbox">
                <!-- <div class="col-xs-4"> -->
                <a href="#" class="avatarposition">
                    <img class="padding" onload="" style="max-height:75px;max-width:75px;" src="{{ my_user.get_img_url }}" center center>
                </a>
                <p1 class="avatarposition" style="color: white"><b>{{ user.peeuser.full_name }}</b>
                </p1>
                <!--  </div> -->
                <form id="upload_avatar_form" action="{% url "upload_avatar" %}" method="post" enctype="multipart/form-data">{% csrf_token %}
                    <p>
                        <input id="id_image" type="file" class="" name="image">
                    </p>
                </form>

            </div>

        </div>

        <nav class="navbar navbar-default" style="border-radius: 0px;">
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-static-top">
                    <li><a href="{% url "tweet_history" %}">Tweets<br><span id="tweets_count" >{{ user.peeuser.tweet_set.count }}</span></a>
                    </li>
                    <li><a href="/account/profile/following">Following<br><span id="following_count">{{ user.peeuser.get_following|length }}</span></a>
                    </li>
                    <li><a href="/account/profile/follower">Follower<br><span id="followers_count">{{ user.peeuser.get_followers|length }}</span></a>
                    </li>
                </ul>
            </div>
        </nav>

        {% if not no_post %}
        <div class="padding" style="background-color: #ECFDFF;">
            <form name="posttweet" action="#" method="POST">{% csrf_token %}
                <textarea id="content_input" style="width: 100%; height: 100px;" placeholder="Tweet at here..."></textarea>

                <button type="button" id="btnPost" class="btn btn-success">
                    <span class="glyphicon glyphicon-plus"></span>
                    <span id="btnPostText">Post</span>
                </button>
            </form>
        </div>
        {% endif %}

    </div>




    <div class="col-md-8">
        <!--display new tweets-->
        <div class="resultbox">
            <div id="heading" class="box-heading">
                <h4 style="margin:0px;">{{ title }}</h4>
            </div>
            <div id="tweets_block" class="box-body">
                {% for tweet in tweets %}
                    {% include "single_tweet.html" %}
                {% endfor %}
                <input id="timestamp_now" type='hidden' value='{% now "N j, Y, H:i:s:u" %}'>
            </div>
        </div>
    </div>
</div>
{% endblock %}