{% extends "base.html" %} {% block stdnav %} {% endblock %} {% block content %}

<div class="container mybody row">
    {% if error %}
        <div class="alert alert-error">{{ error }}</div>
    {% endif %}
    <form name="sign_in" action="/account/signin/" method="POST">{% csrf_token %} 
        <div class="button ">
            <input class="form-control button" name="email" id="username" type="text" placeholder="E-mail address">
        </div>
        <div class="button">
            <input class="form-control button" name="password" id="password" type="password" placeholder="Password">
            <br>
        </div>
        <button type="submit" id="btnLogin" class="btn btn-warning">
            Sign in
        </button>
        <br>
    </form>

    <a href="/account/signup">
        <button type="submit" id="btnLogin" class="btn btn-success">
            register
        </button>
    </a>
</div>

{% endblock %}