{% extends "base.html" %}
{% block stdnav %}
{% endblock %}

{% block content %}
<div class="container mybody">
	<div class="row">
                <div class="button ">
                	<input class="form-control button" name="email" id="username" type="text" placeholder="PUaccount">
                </div>
                <div class="button">
                	<input class="form-control button" name="password" id="password" type="password" placeholder="Password"><br>
                </div>
                <button type="submit" id="btnLogin" class="btn btn-warning">
                  Sign in
                </button><br>
                <button type="submit" id="btnLogin" class="btn btn-success">
                  register
                </button>
                
            </div>

</div>
{% endblock %}
