<div class="row no-gutter post" tweet_pk="{{ tweet.pk }}">
    <!--post#1-->


    <div class="col-md-12" style="width:20%;">
            <a href="#">
                <img class="avatartweetpic" onload="" src="#">
            </a>
            </div>

            <div class="col-md-9" style="padding-left:0px">
                <div class="post-right">
                    <div class="tweet">
                        <span><b id="tweet_author_name">Green Tea Bitch</b>
                        </span>
                        at
                        <span id="tweet_timestamp">0:00</span>
                        <br>
                    </div>

                 </div>
            </div>
</div>