<div class="row no-gutter person">

    <div class="col-md-12" style="width:20%;">
        <a href="{% url 'tweet_profile' pee_user.pk %}">
            <img class="avatartweetpic" onload="" src="{{ pee_user.get_img_url }}">
        </a>
    </div>

    <div class="col-md-9" style="padding-left:0px">
        <div class="post-right">
            <div class="tweet">
                <span><b id="pee_user_name">{{ pee_user.full_name }}</b>
                </span>
                <br>
                {% include "follow_btn.html" %}
            </div>
        </div>
    </div>
</div>