{% extends "base.html" %}
{% load staticfiles %}
{% block js %}
<script src="{% static "js/users.js" %}"></script>
{% endblock %}

{% block css %}

{% endblock %}

{% block stdnav %}
{% endblock %}

{% block content %}

<div class="container mybody row">
    {% if error %}
        <div class="alert alert-error">{{ error }}</div>
    {% endif %}
    {% if email %}
        <div class="alert alert-error">
            <span>Verfication e-mail already sent! Check your mailbox.</span>
            <button id="resend" type="submit" class="btn btn-primary">
                Resend
            </button>
            <input id="created_email" type="hidden" value="{{ email }}"/>
        </div>
    {% endif %}
	<div class="col-md-4 row">
                    


	</div>

	<div class="col-md-8">
				<form name="sign_up" action="{% url "pee_user_signup" %}" method="POST">{% csrf_token %}
                    
                    
					<span>First Name: </span>
                    <div class="button ">
                    	<input class="form-control button" name="firstname" type="text" placeholder="Your firstname">
                    </div>

                    <span>Last Name: </span>
                    <div class="button">
                    	<input class="form-control button" name="lastname" type="text" placeholder="Your lastname">
                    </div>

                    <span>E-mail: </span>
                    <div class="button ">
                    	<input class="form-control button" name="email" type="text" placeholder="E-mail address">
                    </div>

                    <span>password: </span>
                    <div class="button ">
                    	<input class="form-control button" name="password" type="password" placeholder="password">
                    </div>

                    <span>password confirm: </span>
                    <div class="button ">
                    	<input class="form-control button" name="pwconfirm" type="password" placeholder="confirm password">
                    </div>

                    <button type="submit" id="btnLogin" class="btn btn-warning">
  						<span class="glyphicon glyphicon-plus"></span>
                      	Join
                    </button>
                </form>
    </div>

</div>

{% endblock %}
